<tr>
  <td><%= workout.name %></td>
  <td><%= workout.trainer.full_name %></td>
  <td><%= workout.workout_date %></td>
  <td><%= workout.timer %></td>
  <td><%= workout.status %></td>
  <td><%= workout.start %></td>
  <td><%= workout.end %></td>
  <td><%= workout.focus %></td>
  <td><%= workout.goal %></td>
</tr>