<h1><%= @workout.name %></h1>

<div id="workout">
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 10%">Trainer Name</th>
        <th style="width: 11%">Date</th>
        <th style="width: 11%">Schedule Time</th>
        <th style="width: 25%">Current Exercise Name</th>
        <th style="width: 10%">Timer</th>
        <th style="width: 10%">Status</th>
        <th style="width: 9%">Start</th>
        <th style="width: 9%">End</th>
        <th style="width: 5%">Focus</th>
        <th style="width: 10%">Goal</th>
      </tr>
    </thead>
    <tbody>
      <%= form_tag(mom_workout_path, :method => "put", :remote => true, id: "update-seq-form", :class => "form-inline workout-seq-schedule") do %>
        <input id="workout-timer" name="workout[timer]" type="hidden" value="<%= @workout.timer %>" class="workout-attr">
        <tr>
          <td><%= @workout.trainer.full_name %></td>
          <td><%= @workout.workout_date %></td>
          <td><%= @workout.workout_schedule_time %></td>
          <td><div id="sequence_name"><%= @workout.timer.blank? ? @workout.sequences.first.exercise.name : @timer_seq.keys[0] %></div></td>
          <td><div id="timer"><%= @workout.timer.blank? ? "00:00:00" : @timer_seq.keys[0] %></div></td>
          <td><input id="workout-status" name="workout[status]" value="<%= @workout.status %>"></td>
          <td><div id="workout-start"><%= local_time(@workout.start) %></div></td>
          <td><%= @workout.end %></td>
          <td><%= @workout.focus %></td>
          <td><%= @workout.goal %></td>
        </tr>
      <% end %>
    </tboby>
  </table>
</div>
<div class="timer_container">
  <label>Current Exercise</label>
  <div id="sequence_number"><%= @workout.timer.blank? ? @workout.sequences.first.order : @seq_workout.order %>. </div>
  <div id="sequence_name"><%= @workout.timer.blank? ? @workout.sequences.first.exercise.name : @timer_seq.keys[0] %></div>
  <div id="sequence_duration"><%= Time.at(@workout.sequences.first.duration).utc.strftime("%H:%M:%S") %></div><br /><br />
  
  <label>Next Exercise</label>
  <% if @seq_workout.order == @workout.sequences.last.order %>
    <label> no more </label>
  <% else %>
    <div id="sequence_number"><%= @workout.timer.blank? ? @workout.sequences.first.order + 1 : @seq_workout.order + 1 %>. </div>
    <div id="sequence_name"><%= @workout.timer.blank? ? @workout.sequences.first.exercise.name : @arry_timer_seq[1] %></div>
    <div id="sequence_duration"><%= Time.at(@workout.sequences.first.duration).utc.strftime("%H:%M:%S") %></div><br /><br />
  <% end %>
  
  <!-- <div id="timer">00:00:00</div><br /><br /> -->
  <%= button_tag @workout.status == 'paused' ? 'Resume' : 'Start', :id => 'btn_start', :class => "btn btn-primary" %>
  <%= button_tag 'Pause', :id => 'btn_stop', :class => "btn btn-primary" %>
</div>

<script type="text/javascript">
  window.SEQUENCES_DURATION = '<%= raw @squences_duration.to_json %>'
  window.TIMER = '<%= raw @timer_seq.to_json %>'
</script>