<!DOCTYPE html>
<html>
<head>
  <title>Momtivator</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if notice %>
    <div id="flash-message" class="alert message flash-notice"><%= notice %></div>
  <% end %>
  <% if flash.alert %>
    <div id="flash-message" class="alert message flash-alert"><%= flash.alert %></div>
  <%   flash.discard(:alert)
     end %>
  <%= render 'menubar' %>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
</body>
</html>
